<div class="container">
  <br>
  <div class="row">
    <div class="col s12 l7 offset-l3">
      <mz-card [backgroundClass]="'teal darken-4'" [textClass]="'white-text'" [hoverable]="true">
        <mz-card-title>
          Login
        </mz-card-title>
        <mz-card-content>
          <br>
          <div class="row">
            <div class="col s12 l10 offset-l1">
              <app-input-user></app-input-user>
              <app-input-pass></app-input-pass>
            </div>
            <div class="col s6 l4 offset-s3 offset-l8">
              <br>
              <app-btn-submit></app-btn-submit>
            </div>
          </div>
        </mz-card-content>
      </mz-card>
    </div>
  </div>
</div>
